
code/SimResults/*

code/unitTestsOutputs/*

*.pyc

code/ReferenceFiles/simpsf/allweights.dat

*.log

.ipynb_checkpoints/IFS-checkpoint.ipynb

code/ReferenceFiles/wavecal/*

code/ReferenceFiles/HighSNRWavecal/*



