
crispy/SimResults/*

crispy/unitTestsOutputs/*

*.pyc

crispy/ReferenceFiles/simpsf/allweights.dat

*.log

.ipynb_checkpoints/IFS-checkpoint.ipynb

crispy/ReferenceFiles/wavecal/*

crispy/ReferenceFiles/HighSNRWavecal/*


crispy/ReferenceFiles/LLTFcalCube.fits

crispy/ReferenceFiles/lltf_655nm_2017-01-13-15-01-42_sub.fits

crispy/ReferenceFiles/hires_psflets_lam655.fits

*checkpoint.ipynb

crispy/ReferenceFiles/wavecalR50_770/polychromeR50.fits

crispy/ReferenceFiles/wavecalR50_770/hires*.fits

crispy/ReferenceFiles/wavecalR50_770_test/*

crispy/ReferenceFiles/wavecalR50_770/polychromekeyR50.fits


crispy/ReferenceFiles/wavecalR50_770/polychromeR50stack_highdensity.fits
