
code/SimResults/*

code/unitTestsOutputs/*

*.pyc

code/ReferenceFiles/simpsf/allweights.dat

*.log

.ipynb_checkpoints/IFS-checkpoint.ipynb

code/ReferenceFiles/wavecal/*

code/ReferenceFiles/HighSNRWavecal/*




*.png

code/ReferenceFiles/LLTFcalCube.fits

code/ReferenceFiles/lltf_655nm_2017-01-13-15-01-42_sub.fits

code/ReferenceFiles/hires_psflets_lam655.fits

*checkpoint.ipynb
